.find-test{
    flex: 8;   
}

body{
    padding-top: 20px;
    font-family: Tahoma;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 15px;
    margin-top: 15px;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.do-test-btn {
    background-color: rebeccapurple;
    color: white;     
    width: 25%;
}

.find-btn {
    margin-left: 10px;
    background-color: yellow;
}

.example-card {
    max-width: 80%;
    margin-left: 5%;
    margin-top: 2%;
    background-color: lightgoldenrodyellow;
}

.example-header-image {
    background-image: url('https://jobsgo.vn/blog/wp-content/uploads/2021/01/3893_1c93843d4265297c3fa7924f528a7051.jpg');
    background-size: cover;
}
th{
    padding-left: 20px;
}