<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Filter</title>
</head>
<body >
    <div style="display: flex; flex-wrap: wrap;">
    <div class="one"></div>

    <div class="find-test">
        <form class="example-container" >         
          <!-- find-event -->
          <a class="find-btn" type="button" mat-raised-button (click)="find_Click()"><span class="material-icons">
            image_search
            </span> View Your Test</a>         
        </form>
        <hr>
    </div>
    <div class="one"></div>
    </div>
    <div>
      <mat-card class="example-card" *ngFor="let i of examData">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{i.field.major}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table>
            <tr >
              <th>Time: {{i.time}}</th>
              <th>Question: {{i.questionNumber}}</th>
              <th>Level: {{i.level.label}}</th>
            </tr>            
          </table>
        </mat-card-content>
        <mat-card-actions>
          
          <a mat-button color="primary" (click)="getExam(i)" routerLink="/user/dotest" >Do Test</a>
        </mat-card-actions>
      </mat-card>
    </div>
</body>
</html>
