<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Question</title>
</head>
<body>
    <div>
        <h1 style="margin-left: 20px">Edit Exam</h1>
        <div id="user-login" class="row">
            <div class="col s12 z-depth-6 card-panel">
                <form class="login-form" method="POST" (submit)="onSubmit(formSignIn)" #formSignIn="ngForm">
                    <div class="row margin">
                        <div>
                                <label for="#"  style="margin-left: 10px;margin-right: 5px;margin-bottom: -10px;">Question Number:</label>
                                <input type="text" name="questionNumber" [(ngModel)]="questionNumber" readonly>
                        </div>
                    </div>
                    <div class="row margin" style="margin-top: 15px;">
                        <div class="input-field col s6">
                            <span style="font-size: 16px;margin-right: 10px;margin-left: 10px;">Time</span>
                            <input id="solutiona" type="text" placeholder="Time" [(ngModel)]="time" name="time" required
                                #txttime="ngModel" autocomplete="off" />
                            <span *ngIf="txttime.touched && formSignIn.controls.time?.errors?.required">
                                Please Type Time for Exam
                            </span>
                        </div>
                    </div>
                    <div>
                        <h3 style="margin-left: 10px;margin-right: 5px;">Mức Độ: {{level}}</h3>
                    </div>
                    <div>
                        <h3 style="margin-left: 10px;margin-right: 5px;">Đề Tài: {{field}}</h3>
                    </div>
                    <div>
                        <a id="Add" style="margin-bottom: 5px;cursor: pointer;" (click)="show = !show">Edit Question Of
                            Exam</a>
                    </div>
                    <div *ngFor="let e of rs" id="formQuestions">
                        <h3>{{e.content}}</h3>
                        <span>Solution A:{{e.solutionA}}</span>
                        <span>Solution B:{{e.solutionB}}</span>
                        <span>Solution C:{{e.solutionC}}</span>
                        <span>Solution D:{{e.solutionD}}</span>
                    </div>
                    <div class="row">
                        <div class="input-field col s2">
                            <button [disabled]="formSignIn.invalid" mat-raised-button color="primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div id="formQuestionsEdit" *ngIf="show">
                    <div id="question">
                            <div id="left">
                            <div>
                                <p id="Add" style="margin-top: -10px;background-color: red;cursor: pointer;" (click)="show =!show">Close</p>
                                <h3 style="text-decoration: underline;">List Question For Field: <span style="color: red;">{{field}}</span>, And Level: <span style="color: red;">{{level}}</span></h3>
                                <div *ngFor="let question of dataQ">
                                    <span  name="exits" 
                                    (click)="toggle(question)" style="display: inline-block;padding: 3px 5px;margin-right: 3px;background-color:  #219ADC;margin-bottom: 3px;border-radius: 3px;color: white;cursor: pointer;">Choose</span>
                                    <span style="font-size: 18px;">
                                        {{question.content}}
                                    </span>
                                    <span *ngIf="question.correct == '' " style="color: red;">
                                        (Tự luận)
                                    </span>
                                </div>
                            </div>
                            </div>
                            <div id="right">
                                <h3 style="text-decoration: underline;margin-top: 30px;">List Question Of This Exam:</h3>
                                <div *ngFor="let question of rs">
                                    <span style="font-size: 18px;">
                                        {{question.content}}
                                    </span>
                                    <span *ngIf="question.correct == '' " style="color: red;">
                                        (Tự luận)
                                    </span>
                                    <a (click)="toggleSelection(question)" style="display: inline-block;padding: 3px 5px;margin-right: 3px;background-color:  red;margin-bottom: 3px;border-radius: 3px;color: white;cursor: pointer;">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>