<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManageAccounts</title>
</head>
<body>
    <nav class="Search">
        <input type="text" class="form-control" name="username" [(ngModel)]="username" (ngModelChange)="Search()"  placeholder="Enter username to Search" autocomplete="off"/>
    </nav>

    <a [routerLink]="'/admin/addAccount'" id="Add">Add Account</a>
        <table>
            <tr>
                
                <th>Mã Học Viên</th>
                <th>Tên Học Viên</th>
                <th>Số Điện Thoại</th>
                <th>Địa Chỉ</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let account of accounts">
               
                <td>{{account.id}}</td>
                <td>{{account.name}}</td>
                <td>{{account.phone}}</td>
                <td>{{account.address}}</td>
                <td>{{account.email}}</td>
                <td>
                    <a routerLink="/admin/editAccount/{{account.id}}"mat-raised-button color="primary">Sửa</a>
                    <a mat-raised-button color="warn" (click)="deleteAccount(account.id)">Xóa</a>
                    
                </td>
            </tr> 
            
        </table>
        
</body>
</html>
