<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManageAccounts</title>
</head>
<body>
    <nav class="Search">
        <input type="text" class="form-control" name=""  placeholder="Enter History to Search" autocomplete="off"/>
    </nav>
        <table>
            <tr>
                <th>History ID</th>
                <th>Date</th>
                <th>User</th>
                <th>Field</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let history of histories">
                <td>{{history.id}}</td>
                <td>{{history.date | date:'shortDate'}}</td>
                <td>{{history.name}}</td>
                <td>{{history.field}}</td>
                <td>
                    <a *ngIf ="history.result == null " routerLink="/admin/histories/{{history.id}}"mat-raised-button color="primary">Mark</a>
                </td>
            </tr> 
        </table>
</body>
</html>