<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManageTests</title>
</head>
<body>
    <nav class="Search">
        <input type="text" class="form-control" name="search" [(ngModel)]="search" (ngModelChange)="Search()"  placeholder="Enter content to Search" autocomplete="off"/>
    </nav>
    <a routerLink="/admin/addTest" id="Add">Add Test</a>
    <div id="table">
    <table>
        <tr>
            <th>Mã Đề Thi</th>
            <th>Số Lượng Câu Hỏi</th>
            <th>Thời Gian</th>
            <th>Lĩnh Vực</th>
            <th>Mức Độ</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let exam of exams | paginate:{itemsPerPage: 10, currentPage: p} ">
            <td>{{exam.id}}</td>
            <td>{{exam.questionNumber}}</td>
            <td>{{exam.time}}</td>
            <td>{{exam.field.major}}</td>
            <td>{{exam.level.label}}</td>
             <td>
               <a (click)="CheckDelete(exam.id)" mat-raised-button color="primary">Sửa</a>
               <a (click)="deleteExam(exam.id)" mat-raised-button color="warn">Xóa</a>       
            </td>
    </table>     
    </div>
    <div style="text-align: center;margin-left: -300px;">
        <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true"></pagination-controls> 
    </div>
</body>
</html>
