.user-infomation {
  width: 100%;
  height: 550px;
  display: flex;
}
.user-img {
  width: 30%;
  height: 100%;
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
}
.user-img img {
  width: 60%;
  padding: 20px 50px;
}

.user-info {
  width: 70%;
  height: 100%;
  padding: 20px;
}
.user-info h1 {
  text-align: center;
  margin-bottom: 20px;
}
.user-info button {
  display: inline-block;
}
table {
  width: 100%;
  font-size: 18px;
  padding: 20px 50px 0;
}
table th {
  width: 30%;
  text-align: left;
}
table td {
  width: 70%;
}
table td input{
  width: 100%;
}
.btn-edit-info {
  text-align: center;
  margin-top: 50px;
}

/* fsjsjsjsj */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}