<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations user</title>
</head>

<body>
    <div class="user-infomation" *ngFor = "let i of informations">
        <div class="user-img">
            <img src="https://cdn.iconscout.com/icon/free/png-512/laptop-user-1-1179329.png" alt="">
            <h1>{{ i.name }}</h1>
            <h1>{{ i.email }}</h1>
        </div>

        <mat-card class="user-info">
            <button mat-raised-button (click)="show = !show"><span class="material-icons">edit</span></button>

            <table>
                <tr [style.display]="hidden">
                    <th>ID: </th>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput #id value="{{ i.id }}">
                        </mat-form-field>
                    </td>
                </tr>
                
                <tr [style.display]="formState">
                    <th>Full name: </th>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput #name [disabled]="true"  value="{{i.name}}" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr [style.display]="formState">
                    <th>Email: </th>
                    <td>               
                        <mat-form-field class="example-full-width">
                            <input matInput #email [disabled]="show"  value="{{i.email}}" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr [style.display]="formState">
                    <th>Number Phone: </th>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput #phone [disabled]="show"  value="{{i.phone}}">
                        </mat-form-field>
                    </td>
                </tr>

                <tr [style.display]="formState">
                    <th>Address: </th>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ i.address }}</mat-label>
                            <input matInput #address [disabled]="show" value="{{i.address}}">
                        </mat-form-field>
                    </td>
                </tr>

                

                <tr [style.display]="pwState">
                    <th>Password: </th>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input type="password" matInput #password value="{{ i.password }}" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr [style.display]="pwState">
                    <th>New Password: </th>
                    <td>
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input type="password" matInput #newpw required                     
                            formControlName="newPW"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,16}$"
                            >                           
                        </mat-form-field>
                        <p style="color: red; font-size: 13px;">{{error}}</p>
                    </td>
                </tr>

            </table>
            <div style="margin-top:10px;" class="btn-edit-info">
                    <button [style.display]="formState"  mat-raised-button color="primary" (click)="getValueInfo(id.value, name.value, email.value, phone.value, address.value, password.value)">Submit</button>
                    <button [style.display]="formState" style="margin-left:10px" mat-raised-button color="accent" (click)="changePassword()">Change Password</button>
            </div>
            <button [style.display]="pwState" style="margin-left:50%" mat-raised-button color="accent" (click)="comfirmPassword(id.value, password.value, newpw.value)">OK</button>

        </mat-card>
    </div>
</body>

</html>
