table {
    width: 95%;
    background-color: #b3ffff;
    margin-left: 2%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 90%;
    margin-left: 2%;
  }

  .mat-display-1{
    margin-top: 20px; 
    text-align: center;
    height: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #99cc00;
    color: white;
  }