<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>
    <h2  class="mat-display-1"> Your Tests:</h2>
    <div style="display: flex; flex-wrap: wrap;">
      <div style="flex: 1;"></div>

      <div style="flex: 8;">
        <table id="customers">
          <tr>
            <th>ExamID</th>
            <th>Date</th>
            <th>Field</th>
            <th>Level</th>           
            <th>Time</th>
            <th>Result</th>
          </tr>
          <tr  *ngFor="let i of historyData">
            <td>{{i.exam.id}}</td>
            <td>{{i.date}}</td>
            <td>{{i.exam.field.major}}</td>
            <td>{{i.exam.level.label}}</td>
            <td>{{i.exam.time}} minutes</td>
            <td>{{i.result}}</td>
          </tr>         
        </table>
      </div>

      <div style="flex: 1;"></div>
    </div>
    
</body>
</html>
