<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
</head>
<body>
    <div>
        <h1 style="margin-left:20px;">Edit Account</h1>
        <div id="user-login" class="row">
            <div class="col s12 z-depth-6 card-panel">
                <form class="login-form" method="POST" (submit)="onSubmit(formSignIn);" #formSignIn="ngForm">
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input id="name" type="text" placeholder="Name" [(ngModel)]="name" name="name" >
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="password" type="password" placeholder="Password" [(ngModel)]="password" name="password">
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="phone" type="text" placeholder="Phone" [(ngModel)]="phone" name="phone">
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="address" type="text" placeholder="Address" [(ngModel)]="address" name="address">
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input class="validate" id="email" type="email" placeholder="Email" [(ngModel)]="email" name="email" name="email">
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input class="validate" id="Authentication" type="text" placeholder="Authentication" [(ngModel)]="authentication" name="authentication">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s2" >
                            <button mat-raised-button color="primary">Edit</button>
                        </div>
                    </div>
                </form>  
            </div>
        </div>
      
    </div>
    
</body>
</html>