<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManageAccounts</title>
</head>
<body>
    <a [routerLink]="'/admin/addQuestion'" id="Add">Add Question</a>
    <nav class="Search">
        <input type="text" class="form-control" name="search" [(ngModel)]="search" (ngModelChange)="Search()"  placeholder="Enter content to Search" autocomplete="off"/>
    </nav>
    <div id="table">
        <table>
            <tr>
                <th>Mã Câu Hỏi</th>
                <th>Content</th>
                <th>Solution A</th>
                <th>Solution B</th>
                <th>Solution C</th>
                <th>Solution D</th>
                <th>Correct</th>
                <th>Field</th>
                <th>Level</th>
                <th>Action</th>
            </tr> 
            <tr *ngFor="let question of questions | paginate:{itemsPerPage: 5, currentPage: p} ">
                <td>{{question.id}}</td>
                <td>{{question.content}}</td>
                <td>{{question.solutionA}}</td>
                <td>{{question.solutionB}}</td>
                <td>{{question.solutionC}}</td>
                <td>{{question.solutionD}}</td>
                <td>{{question.correct}}</td>
                <td>{{question.field.major}}</td>
                <td>{{question.level.label}}</td>
                <td>
                    <a routerLink="/admin/editQuestion/{{question.id}}"mat-raised-button color="primary">Sửa</a>
                    <a mat-raised-button color="warn" (click)="deleteQuestion(question.id)">Xóa</a>
                </td>   
            </tr>  
        </table>              
    </div>
    <div style="text-align: center;margin-left: -200px;">
        <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true"></pagination-controls> 
    </div>
       
       
</body>
</html>
