<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
</head>
<body>
    <div>
        <h1 style="margin-left:20px;">Add Account</h1>
        <div id="user-login" class="row">
            <div class="col s12 z-depth-6 card-panel">
                <span style="color: red;" *ngIf="error">Account already exitsts!!!</span>
                <form class="login-form" method="POST" action="http://localhost:3000/user" (submit)="onSubmit(formSignIn);" #formSignIn="ngForm">
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input id="name" type="text" placeholder="Name" ngModel name="name" required #txtname="ngModel">
                            <span *ngIf="txtname.touched && formSignIn.controls.name?.errors?.required" style="color: red;" >Please type Name</span>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="password" type="password" placeholder="Password" ngModel name="password" required required #txtpassword = "ngModel" minlength="6" pattern="[a-zA-Z ]*">
                            <span *ngIf="txtpassword.touched && formSignIn.controls.password?.errors?.required">Please Type Password</span>
                            <span *ngIf="txtpassword.touched && txtpassword.errors?.minlength">Password must be longer than 6 characters</span>
                            <span *ngIf="txtpassword.touched && txtpassword.errors?.pattern">The password even contains characters from a-z</span>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="phone" type="text" placeholder="Phone" ngModel name="phone" required #txtphone="ngModel">
                            <span *ngIf="txtphone.touched && formSignIn.controls.phone?.errors?.required" style="color: red;">Please type Phone</span>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="address" type="text" placeholder="Address" ngModel name="address" required #txtaddress="ngModel">
                             <span *ngIf="txtaddress.touched && formSignIn.controls.address?.errors?.required" style="color: red;" >Please type Address</span>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input class="validate" id="email" type="email" placeholder="Email" ngModel name="email" name="email" required email #txtemail="ngModel">
                            <span style="color: red;" *ngIf="txtemail.touched && formSignIn.controls.email?.errors?.required">Please type Email</span>
                            <span *ngIf="txtemail.touched && txtemail.errors?.email">Please enter correct email format</span>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input class="validate" id="Authentication" type="text" placeholder="Authentication" ngModel name="authentication" required #txtauthentication="ngModel"  pattern="[0-9]*">
                            <span *ngIf="txtauthentication.touched && formSignIn.controls.authentication?.errors?.required" style="color: red;">Please type PassWord Default</span>
                            <span *ngIf="txtauthentication.touched && txtauthentication.errors?.pattern">The Default Password even contains characters from 0-9</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s2" >
                            <button [disabled]="formSignIn.invalid" mat-raised-button color="primary">ADD</button>
                        </div>
                    </div>
                </form>  
            </div>
        </div>
      
    </div>
    
</body>
</html>