@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://inngochuong.com/uploads/images/mau-san-pham/mau-backgroud-dep-don-gian/mau-background-powerpoint-dep/mau-background-dep-an-tuong-nhat.jpg");
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container {
    padding: 16px;
    background-color: white;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  a {
    color: dodgerblue;
  }
  

  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  .main{
      padding-top: 1.2%;
      opacity: 0.9;
    }
    /* test */
    .example-full-width {
      width: 100%;
    }