<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body  ng-app="myApp" ng-controller="mainController" ng-cloak>

    <div class="main" style="display: flex; flex-wrap: wrap;">
        <div style="flex: 3;" class="one"></div>

        <div style="flex: 8;" class="two">
            <form >
                <div class="container">
                  <h1 style="text-align: center;">Register</h1>
                  <hr>
                  
                    <!-- User Name -->
                    <label for="user"><b>User</b><span style="color:blue; font-size: 12px;">(*at lest a letter, number, 3 character)</span></label>
                    <mat-form-field class="example-full-width">                       
                      <mat-label>User Name</mat-label>
                      <input 
                        type="text" 
                        [formControl]="userFormControl"
                        matInput 
                        placeholder="Your User Name"
                        [(ngModel)] = "userName"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{3,}$"
                        maxlength="100"                                           
                      >                    
                      <mat-error *ngIf="userFormControl.hasError('required') || userFormControl.hasError('parttern')">
                        User name is <strong>required</strong>
                      </mat-error>                                   
                    </mat-form-field>
                    
                    <!-- Email -->
                    <label for="email"><b>Email</b><span style="color:blue; font-size: 12px;">(*Ex. pat@example.com)</span></label>
                    <mat-form-field class="example-full-width">                       
                      <mat-label>Email</mat-label>
                      <input 
                        type="email" 
                        matInput 
                        [formControl] = "emailFormControl" 
                        placeholder="Ex. pat@example.com"
                        [(ngModel)] = "email"
                      >
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    
                    <!-- Password -->
                    <label for="Password"><b>Password</b><span style="color:blue; font-size: 12px;">(*at lest a uppercase letter, lowercase letter, number, symbol, 6-16 character)</span></label>
                    <mat-form-field class="example-full-width">                       
                      <mat-label >Password</mat-label>
                      <input
                        type="password" 
                        [formControl] = "passwordFormControl"
                        matInput  
                        placeholder="Your password"
                        [(ngModel)] = "password"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,16}$"
                        >                      
                      <mat-error *ngIf="passwordFormControl.hasError('required')">
                      Password is <strong>wrong</strong>
                      </mat-error>
                    </mat-form-field>
                    
                    <!-- Confirm Password -->
                    <label for="user"><b>Confirm Password</b><span style="color:blue; font-size: 12px;">(*math your password)</span></label>
                    <mat-form-field class="example-full-width">                       
                      <mat-label>Confirm PassWord</mat-label>
                      <input
                        type="password" 
                        [formControl] = "repasswordFormControl" 
                        matInput 
                        placeholder="Repeat Password"
                        [(ngModel)] = "repassword"
                        >
                    </mat-form-field>

                    <!-- Authenication -->
                    <label for="user"><b>Authenication Number</b><span style="color:blue; font-size: 12px;">(*only number. help when you forgot your password)</span></label>
                    <mat-form-field class="example-full-width">                       
                      <mat-label>Number</mat-label>
                      <input
                        name="numauth"
                        [(ngModel)] = "numauth"
                        type="number"
                        required                      
                        matInput
                        minlength="4"
                        min="1"                                  
                        >
                    </mat-form-field>
                  <p>By creating an account you agree to our <a href="http://khong-co-trang-nay-nha.com">Terms & Privacy</a><input type="checkbox" checked=true>.</p>
                  <button type="button" class="registerbtn" (click)="Register_Fnc()">                     
                    Register 
                    <span class="material-icons">
                        create
                    </span> 
                  </button>
                </div>               
                <div class="container signin">
                  <p>Already have an account? <a routerLink=""> Sign in</a></p>
                </div>
              </form>
        </div>

        <div style="flex: 3;" class="one"></div>
    </div>
</body>
</html>
