*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    position: relative;
}
#question{
    display: flex;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    
}
#left{
    flex-basis: 50%;
    border-right: 1px solid black;
    overflow: scroll;
    padding: 10px 10px;
}
#right{
    padding: 10px 10px;
    flex-basis: 50%;
    overflow: scroll;

}
#question > #left > a,#question > #right > a{
    text-decoration: none;
    display: block;
}
#chooseUser{
    position: absolute;
    width: 1600px;
    height: 1000px;
    background-color:white;
    top:50px;
    left: 50px;
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}
#Add{
    display: inline-block;
    line-height: 20px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    
    background-color: #219ADC;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    border-bottom:5px solid rgba(0, 0, 0, 0.5) ;
    margin-left: 5px;
  }
  .Search > input{
    margin-top: 20px;
    margin-left: 5px;
    display: inline-block;
    width: 1000px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .Search > input:focus{
    border: 3px solid #219ADC;
  }
