<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddTest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <form action="Post" (submit)="onSubmit(formSignIn);" #formSignIn="ngForm" >
    <div>
        <label>
            Số câu hỏi
        <input type="number" placeholder="Nhập Số Lượng Câu Hỏi" name="questionNumber" [(ngModel)]="soluong"  readonly />
        </label>
    </div>
    <div>
        <label>
            Thời Gian
        <input type="number" placeholder="Nhập thời gian" name="time" ngModel>
        </label>
    </div>
    <div>
        <label>
            Mức Độ
        <mat-form-field appearance="fill" >
            <select matNativeControl required [(ngModel)] = "level" name="level" (change)="filter()" class="mat-form" >
            <option value="Select">Select</option>
            <option value="1">Easy</option>
            <option value="2">Normal</option>
            <option value="3">Hard</option>
            </select>
        </mat-form-field>
        </label>
    </div>
    <div>
               <span>Đề Tài</span>
                <mat-form-field appearance="fill">
                <select matNativeControl required  [(ngModel)] = "field" (change)="filter1()" name="field"  class="mat-form"  >
                <option value="0">Select</option>
                <option value="1">Java Script</option>
                <option value="2">Java</option>
                <option value="3">.NET</option>
                <option value="4">IOS</option>
                <option value="5">Hr</option>
                <option value="6">Tester</option>
                </select>
            </mat-form-field>
    </div>
<div>
    <span style="margin-right: 5px;">User: </span>
    <span style="cursor: pointer;"  (click)= "show = !show" id="Add" >Choose</span>
    <div id="chooseUser" *ngIf="show">
        <div>
            <span class="material-icons" (click)= "show = !show" style="margin-left: 1500px;font-size: 50px;cursor: pointer;margin-top: 20px;">
                clear
             </span>
        </div>
        <div>
           <nav class="Search">
            <input type="text" class="form-control" name="username" [(ngModel)]="username" (ngModelChange)="Search()"  placeholder="Enter username to Search"/>
            <span id="Add" style="cursor: pointer;" (click)="asignUser()">Choose</span>
            </nav>
           <div id="left">
            <select size="30" class="form-control"  multiple id="listUser" >
                <option *ngFor="let user of users" >       
                      <p > 
                       {{user.name}}
                      </p>                    
                </option>
            </select>
         </div>
         <div>
             <span id="Add" style="cursor: pointer;background-color: red;" (click)="unasignUser()">Remove</span>
         </div>
         <div id="right">
            <select size="30" class="form-control"  multiple>
                <option *ngFor="let user of userSelect" id="listUser2" >       
                      <p>
                       {{user.name}}
                      </p>               
                </option>
            </select>
        </div>
        </div>
    </div>
</div>
     
    <div id="question">
        <div id="left">
            <input type="checkbox" name="selectAll" [(ngModel)]="selectAll" (click)="checkAll()" id="test" hidden>
            <label *ngIf="!selectAll" id="Add" for="test">
                Select All
            </label>
            <label *ngIf="selectAll"  id="Add" for="test">
                DeSelect All
            </label>
           <div *ngFor="let question of questionFilter">
            <input type="checkbox" name="exits" (change)="exist(question)" (click)="toggleSelection(question)">
               <span style="font-size: 18px;">
                   {{question.content}}
               </span>
               <span *ngIf="question.correct == null " style="color: red;">
                   (Tự luận)
               </span>
               
           </div>
        </div>
        <div id="right">
            <div *ngFor="let question of questionsSelect">
                <span style="font-size: 18px;">
                    {{question.content}}
                </span>
            </div>
        </div>
    </div>     
    <button id="Add">Thêm</button>

</form>
</body>
</html>
