<mat-toolbar style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: lightblue; flex-wrap: wrap;
" class="nav">
    <div class="button-container">
        <a href="#" mat-mini-fab><mat-icon>home</mat-icon></a>
    </div>      
      <a href="#" mat-button >Home</a>         
    <div class="login">
        <a mat-raised-button  (click)="loginClick()" style="width:auto;">
            <mat-icon class="icon">account_circle</mat-icon>Login
        </a>             
        <div id="id01" class="modal"> 
            <form class="modal-content animate" action="/action_page.php" method="post">
              <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/47/5b/1d/desert-wolf-tours.jpg" alt="Avatar" class="avatar">
              </div> 

              <!------------Login Form------------------> 
              <div class="container" [style.display]="isShow">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="username" required>
                <br>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="psw" required>
                <br>
                <div  style="text-align: center;">
                    <a (click) = "login()" routerLink={{routerLink}}  mat-raised-button style="width:200px; height: auto; background-color: lightgreen;">
                        <mat-icon class="icon">account_circle</mat-icon>Login 
                    </a>
                    <hr style="width: 330px;">
                    <p>Or <a routerLink="/register">Register</a> Now?</p>
                    <hr style="width: 330px;">  
                </div> 
                    <br>
                    <label>
                      <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
              </div>
              <!-- -------------------- -->
              <!-- Forgot Password Form -->
              <div class="container" [style.display]="isShow_">
                <label for="uname"><b>Username</b></label>
                <input #usn type="text" placeholder="Enter Username"  required>
                <br>
                <label for="psw"><b>Authenication Number</b></label><br>
                <input #auth matInput type="number" placeholder="Enter Number" required>
                <br>
                <div  style="text-align: center;">
                    <a (click)="resetPW_func(usn.value, auth.value)" mat-raised-button style="width:200px; height: auto; background-color: lightgreen;">
                        <mat-icon class="icon">account_circle</mat-icon>ResetPassword 
                    </a>
                    <hr style="width: 330px;">
                    <p>Or <a routerLink="/register">Register</a> Now?</p>
                    <button mat-raised-button color="primary"(click)="backFormLogin()">Login</button>
                    <hr style="width: 330px;">  
                </div>                    
              </div>
              <!-- ------------------------------ -->
              <div [style.display]="isShow" class="container" style="background-color:#f1f1f1;">
                <button mat-flat-button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw"> <button mat-flat-button color="primary" (click)="isShow_Fnc()">Forgot password?</button></span>               
              </div>
            </form>
          </div>
          
          <script>
          // Get the modal
          var modal = document.getElementById('id01');
          
          //close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
          </script>
        <!---------------------------------------->

        <span style="margin-left:20px;">
          <button mat-button [matMenuTriggerFor]="menu">
                <span class="material-icons">
                      list
              </span>
          </button>
            <mat-menu #menu="matMenu">
              <a type="button" href="https://www.youtube.com/watch?v=cnogwr3RUzQ" mat-menu-item>Services</a >
              <a href="https://www.facebook.com/ttcsolutionsvietnam/" type="button" mat-menu-item>About</a>
            </mat-menu>
        </span>                  
      





