<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Question</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" />
</head>
<body>
    <div>
        <h1 style="margin-left: 20px">Edit Question</h1>
        <div id="user-login" class="row">
            <div class="col s12 z-depth-6 card-panel">
                <span style="color: red" *ngIf="error">Account already exitsts!!!</span>
                <form class="login-form" method="POST" 
                    (submit)="onSubmit(formSignIn)" #formSignIn="ngForm">
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input id="name" type="text" placeholder="Content" [(ngModel)]="content" name="content" required
                                #txtcontent="ngModel" autocomplete="off" />
                            <span *ngIf="txtcontent.touched && formSignIn.controls.content?.errors?.required"
                                style="color: red">
                                Please type Content
                            </span>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="solutiona" type="text" placeholder="Solution A" [(ngModel)]="solutiona" name="solutionA" required
                                #txtsolutiona="ngModel" autocomplete="off"  />
                            <span *ngIf="txtsolutiona.touched && formSignIn.controls.solutiona?.errors?.required">
                                Please Type Solution A
                            </span>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="solutionb" type="text" placeholder="Solution B" [(ngModel)]="solutionb" name="solutionB" required
                                #txtsolutionb="ngModel" autocomplete="off"  />
                            <span *ngIf="txtsolutionb.touched && formSignIn.controls.solutionb?.errors?.required">
                                Please Type Solution B
                            </span>
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="solutionc" type="text" placeholder="Solution C" [(ngModel)]="solutionc" name="solutionC" required
                                #txtsolutionc="ngModel" autocomplete="off"  />
                            <span *ngIf="txtsolutionc.touched && formSignIn.controls.solutionc?.errors?.required">
                                Please Type Solution C
                            </span>
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="solutiond" type="text" placeholder="Solution D" [(ngModel)]="solutiond" name="solutionD" required
                                #txtsolutiond="ngModel" autocomplete="off"  />
                            <span *ngIf="txtsolutiond.touched && formSignIn.controls.solutiond?.errors?.required">
                                Please Type Solution D
                            </span>
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="input-field col s6">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="correct" type="text" placeholder="Correct" ngModel name="correct" [(ngModel)]="correct" required
                                #txtcorrect="ngModel" autocomplete="off" />
                            <span *ngIf="txtcorrect.touched && formSignIn.controls.correct?.errors?.required">
                                Please Type Correct
                            </span>
                        </div>
                    </div>

                    <div>
                        <span>Mức độ</span>
                        <mat-form-field appearance="fill">
                            <select matNativeControl required name="level" class="mat-form"[(ngModel)]="level">
                                <option value="Select">Select</option>
                                <option value="1">Easy</option>
                                <option value="2">Normal</option>
                                <option value="3">Hard</option>
                            </select>
                        </mat-form-field>
                    </div>

                    <div>
                        <span>Đề Tài</span>
                        <mat-form-field appearance="fill">
                            <select matNativeControl required name="field" class="mat-form" [(ngModel)]="field">
                                <option value="0">Select</option>
                                <option value="1">Java Script</option>
                                <option value="2">Java</option>
                                <option value="3">.NET</option>
                                <option value="4">IOS</option>
                                <option value="5">Hr</option>
                                <option value="6">Tester</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="input-field col s2">
                            <button [disabled]="formSignIn.invalid" mat-raised-button color="primary">
                                Edit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>