*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .sidenav-container {
      height: 100%;
    }
    .sidenav {
      width: 200px;
    }
    .sidenav .mat-toolbar {
      background: inherit;
      background-color: rgb(31, 139, 197);
      color:#fff;
    }
    .mat-toolbar.mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
      background-image: linear-gradient(to right, rgb(31, 139, 197), rgb(26, 166, 237));
    }
    .face{
      font-size: 38px;
      margin-left: 80%;
    }
      :hover:mat-list-item-conten{
      background-color: rebeccapurple;
      }
      table th{
          background-color: #99ABB6;
          padding: 10px;
        
      }
      table td {
        
        padding: 10px;
        
      }
      table{
      margin-top: 20px;
      line-height: 30px;
      width: 90%;
      text-align: center;
      border-collapse: collapse;
      border-radius: 50px;
      }
      table tr:nth-child(odd){
          background-color: #99ABB6;
      }
      table tr:nth-child(even){
          background-color: white;
      }
      table td a{
          margin-right: 3px;
      }
      #Add{
        display: inline-block;
        line-height: 20px;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        
        background-color: #219ADC;
        margin-top: 10px;
        border-radius: 5px;
        color: white;
        border-bottom:5px solid rgba(0, 0, 0, 0.5) ;
        margin-left: 5px;
      }
      .Search > input{
        margin-top: 20px;
        margin-left: 5px;
        display: inline-block;
        width: 1000px;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.5);
      }
      .Search > input:focus{
        border: 3px solid #219ADC;
      }
  
    
    