.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: rebeccapurple;
  color:#fff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rebeccapurple;
}

.face{
  font-size: 38px;
  margin-left: 80%;
}

:hover:mat-list-item-conten{
  background-color: rebeccapurple;
}

