<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
</head>
<body>
    <div>
        <input type="file" multiple="false" (change)="uploadExcel($event)" id="Add" />
    </div>
    <div  id="table">
    <table>
        <tbody>
           <tr>
               <td>STT</td>
               <td>Content</td>
               <td>solutionA</td>
               <td>solutionA</td>
               <td>solutionC</td>
               <td>solutionD</td>
               <td>Correct</td>
               <td>Field</td>
               <td>Level</td>
           </tr>
           <tr *ngFor="let question of questions">
              <td>{{question.STT}}</td>
              <td>{{question.content}}</td>
              <td>{{question.solutionA}}</td>
              <td>{{question.solutionB}}</td>
              <td>{{question.solutionC}}</td>
              <td>{{question.solutionD}}</td>
              <td>{{question.correct}}</td>
              <td *ngIf="show">{{question.field}}</td>
              <td *ngIf="show">{{question.level}}</td>
              <td *ngIf="hide">{{question.field.major}}</td>
              <td *ngIf="hide">{{question.level.label}}</td>
           </tr>
        </tbody>
    </table>    
</div>
<div style="text-align: center;">
    <button id="Add" (click)="ADD()">Add </button>  
</div>

</body>
</html>
