.content{
    height: 70%; font-size: 20px ; font-family: 'Courier New', Courier, monospace ;background-color: lightblue ; padding-top: 50px;text-align: center;
}
.material-icons{
    font-size: 30px;
    color:#4d4d4d;
    margin-left: 20px;
    padding-top: 40px;
}