<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="(isHandset$ | async) === false">
            <mat-toolbar>
                <span class="material-icons">
                    widgets
                </span>
                Admin
            </mat-toolbar>
            <mat-nav-list>
                <!-- add menu item -->
                <a mat-list-item routerLink="manageAccounts">
                    <span class="material-icons"> home</span>
                    Quản Lý Tài Khoản
                </a>
                <a mat-list-item routerLink="manageTest" >
                    <span class="material-icons">
                        create
                    </span>Quản Lý Đề Thi </a>
                <a mat-list-item routerLink="manageQuestions">
                    <span class="material-icons">person</span>
                    Manage Questions
                </a>
                <a mat-list-item routerLink="histories">
                    <span class="material-icons">description</span>
                    Histories Result
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="primary">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <!-- Link here -->
                <a href="#"></a>
                <span class="face material-icons">
                    face
                </span>
                <a style="margin-left: 1%; width: 100px;" href="#" mat-raised-button><span class="material-icons">
                        login
                    </span>{{infor}}</a>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</body>
</html>